<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="sortable-column" sort-property="Player" (sort)="sort($event)">
        <fa-icon *ngIf="addArrowToHeader('Player')" [icon]="arrowDirection"></fa-icon>
        Player
      </th>
      <th class="text-right">Team</th>
      <th class="text-right">Pos</th>
      <th class="text-right">Att</th>
      <th class="text-right">Att/G</th>
      <th scope="col" class="sortable-column text-right" sort-property="Yds" (sort)="sort($event)">
        <fa-icon *ngIf="addArrowToHeader('Yds')" [icon]="arrowDirection"></fa-icon>
        Yds
      </th>
      <th class="text-right">Avg</th>
      <th class="text-right">Yds/G</th>
      <th scope="col" class="sortable-column text-right"  sort-property="TD" (sort)="sort($event)">
        <fa-icon *ngIf="addArrowToHeader('TD')" [icon]="arrowDirection"></fa-icon>
        TD
      </th>
      <th scope="col" class="sortable-column text-right"  sort-property="Lng" (sort)="sort($event)">
        <fa-icon *ngIf="addArrowToHeader('Lng')" [icon]="arrowDirection"></fa-icon>
        Lng
      </th>
      <th class="text-right">1st</th>
      <th class="text-right">1st%</th>
      <th class="text-right">20+</th>
      <th class="text-right">40+</th>
      <th class="text-right">FUM</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{player["Player"]}}</td>
      <td class="text-right">{{player["Team"]}}</td>
      <td class="text-right">{{player["Pos"]}}</td>
      <td class="text-right">{{player["Att"]}}</td>
      <td class="text-right">{{player["Att/G"]}}</td>
      <td class="text-right">{{player["Yds"]}}</td>
      <td class="text-right">{{player["Avg"]}}</td>
      <td class="text-right">{{player["Yds/G"]}}</td>
      <td class="text-right">{{player["TD"]}}</td>
      <td class="text-right">{{player["Lng"]}}</td>
      <td class="text-right">{{player["1st"]}}</td>
      <td class="text-right">{{player["1st%"]}}</td>
      <td class="text-right">{{player["20+"]}}</td>
      <td class="text-right">{{player["40+"]}}</td>
      <td class="text-right">{{player["FUM"]}}</td>
    </tr>
  </tbody>
</table>
