  <div class="row">
    <div class="col-auto mr-auto">
      <form [formGroup]="playerNameForm">
              <label for="firstname">Player Name</label>
              <input type="text" id="playerName" formControlName="playerName">
      </form>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-light">
        Import JSON <fa-icon [icon]="import"></fa-icon>
      </button>
      &nbsp;
      <button type="button" class="btn btn-light" (click)="onDownloadClick()">
        Export CSV <fa-icon [icon]="export"></fa-icon>
      </button>
    </div>
  </div>