  <div class="row">
    <div class="col-auto mr-auto">
      <form [formGroup]="playerNameForm">
        <input type="text" class="form-control mr-sm-2" placeholder="Player Name" id="playerName" formControlName="playerName">
      </form>
    </div>
    <div class="col-auto">
      <input
        style="display: none"
        type="file" (change)="onJSONUpload($event)"
        #fileInput />
      <button class="btn btn-light" (click)="fileInput.click()">Import JSON <fa-icon [icon]="import"></fa-icon></button>
      &nbsp;
      <button type="button" class="btn btn-light" (click)="onDownloadClick()">
        Export CSV <fa-icon [icon]="export"></fa-icon>
      </button>
    </div>
  </div>