<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">NFL Rushing</a>
</nav>
<br>
<div class="container">
    <app-table-form 
        [serverStatus]="serverStatus"
        (onFilter)="onFilter($event)"
        (onDownload)="onDownload()"
        (onUpload)="onUpload($event)"
    ></app-table-form>
    <br>
    <app-pagination></app-pagination>
    <app-table 
        *ngIf="players$ | async as players"
        [players]="players"
        [sortColumn]="sortColumn"
        [sortDirection]="sortDirection"
        (onSort)="onSort($event)"
    ></app-table>
</div>
